
*{
margin-left:auto;
margin-right:auto;
margin-top:auto;

}
header.izbornik {

	font-family: 'Source Sans Pro', sans-serif,'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15pt;
	line-height: 2em;
	
    letter-spacing: 4px;

	color: SlateBlue;
	text-shadow: 0 0 0.5px rgba(58,57,57,0.25);
    background-color: lavender;

	position:relative;
	top:-10px;
	width:100%;
	
}
.header_underline{
background-color: white;
height: 4px;
position:relative;
margin-top: 0.8in;
width:100%;
}
header>a{
	position:relative;
	top:80px;
	text-decoration: none;
	color: #0066b3;
	width:100%;
}

a {	
	
	color: #0066b3;
}
header>a:hover {
	color: SlateBlue;
	background-color: white;
	padding:10px;
	width:100%;
}

a:hover {
	color: SlateBlue;
	
	
	}

a:active {
	color: #0077b3;
}


body {
background-image: url(naocale.jpg);
background-repeat: no-repeat;

	font-size: 13pt;
  line-height: 1.3em;
}
h1{

	color:SlateBlue;
	font-size: 21pt;
  line-height: 1.7em;
		font-weight: 400;
    letter-spacing: 2px;
	font-weight:bold;
		text-align: center;
}

h2{

	color:SlateBlue;
	font-size: 18pt;
  line-height: 1.7em;
		font-weight: 300;
    letter-spacing: 3px;
	font-weight:bold;
}
.dodatna {
margin-left: 2%;
margin-right: 2%;
margin-top: 2%;
margin-bottom: 4%;
}
strong,label {
	color:SlateBlue;
	font-size: 12pt;
  line-height: 1.3em;
}
.podloga{
margin-left: 7%;
margin-right: 7%;
margin-top: 2%;
background:white;

}
li{
	color:SlateBlue;
}
spam{
	color:black;
}
h3,th{
color:SlateBlue;
}

.lijeviKontakt{
margin-left: 2%;
margin-top: 2%;
margin-bottom: 4%;
margin-right: 2%;
float:left;

}
p{
clear:both;
text-align:center;

}
img {
 width:325px;
 height:225px;
}
.desniKontakt{
margin-left: 2%;
margin-right: 2%;
margin-top: 7%;
margin-bottom: 4%;

float:left;
}
hr{
width:80%;
}

input {
font-size: 13pt;
  line-height: 1.5em;
    letter-spacing: 3px;
}

table {
    border-collapse: collapse;
    width: 100%;

}

table, tr, td {
  
	 border: 2px solid SlateBlue;
}


tr {
    height: 50px;
}
td{
	text-align: center;
}

.scroll{
 height: 350px;
 overflow:auto;
}

.scroll2{
 height: 650px;
 overflow:auto;
}

.lista1{
    list-style: square inside url("slikica.png");

}
header > img{
 width:12%;
 height:7%;
 margin-top: 20px;
 margin-left:15%;
 float :left;
 transform: rotate(-25deg);
}

footer#Copy{
    position: relative;
    background-color: SlateBlue;
    text-align: center;
   
    color: white;
    font-size:17px;
}

textarea {
width: 250px;
height: 110px;
}
